<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&family=Nunito:ital@1&family=Roboto+Condensed:wght@300;400&family=Roboto+Mono:ital,wght@1,200;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <title>Qr Code Generator</title>
</head>