<%- include('partials/header') %>
<body>
    <div class="main-container">
        <h1>Hi, Give me your url then i will cover to Qr Code!</h1>
        <form action="/" method="post">
            <input type="text" name="url" placeholder="Enter your url" autocomplete="off">
            <button type="submit">Submit</button>
        </form>
    </div>
    
    
</body>
</html>
